n8n workflow/video genration api.json
{
  "name": "video genration api",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e4fd1791-5480-4171-a1e3-1a7762176939",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -784,
        -400
      ],
      "id": "45b5ef4f-f7a3-4a7a-a6c0-90a5d34d7062",
      "name": "Webhook",
      "webhookId": "e4fd1791-5480-4171-a1e3-1a7762176939"
    },
    {
      "parameters": {
        "jsCode": "const cookiesTxt = $input.first().json.body.cookies_txt || '';\nconst lines = cookiesTxt.split('\\n');\n\nconst metaAiCookies = [];\n\nfor (const line of lines) {\n  if (line.startsWith('#') || !line.trim()) continue;\n  \n  const parts = line.split('\\t');\n  if (parts.length < 7) continue;\n  \n  const domain = parts[0];\n  if (!domain.includes('meta.ai')) continue;\n  \n  metaAiCookies.push({\n    domain: parts[0],\n    path: parts[2],\n    secure: parts[3] === 'TRUE',\n    expires: parseInt(parts[4]),\n    name: parts[5],\n    value: parts[6]\n  });\n}\n\nconst cookies_b64 = Buffer.from(JSON.stringify(metaAiCookies)).toString('base64');\n\nreturn [{ json: { cookies_b64, metaAiCookies } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -400
      ],
      "id": "14ab0b43-708d-428c-ad0f-c49ffa61824d",
      "name": "Encode Cookies"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "84d3d8f2-aa85-4fad-ac38-6a7f416f47f7",
              "leftValue": "={{ $json.body.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -640,
        176
      ],
      "id": "320ac1f0-8075-479a-98c5-bd8462969311",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// توليد job_id بدون require\nfunction generateUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst jobId = generateUUID();\n\nreturn [{\n  json: {\n    job_id: jobId,\n    \n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -48
      ],
      "id": "04c8cf11-79ee-4a48-8869-dd2ed34b91f0",
      "name": "Generate Job ID"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"job_id\": \"{{ $('Generate Job ID').first().json.job_id }}\",\n  \"message\": \"Job queued successfully\"\n}",
        "options": {
          "responseCode": 202
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        32,
        -48
      ],
      "id": "b2305dbe-428b-4fb6-aec8-c56c7abfe2a7",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "content": "#  set cookies if needit",
        "height": 80,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        -496
      ],
      "typeVersion": 1,
      "id": "91c3d278-53af-43e7-a3b1-679ed6e87ad3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# video-genrate end point",
        "height": 80,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -688,
        -160
      ],
      "typeVersion": 1,
      "id": "c3ce04c3-8ee2-464b-88e5-3e3adfeb3580",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-genrate",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -864,
        -48
      ],
      "id": "56908299-f9a7-4c41-b24c-5c1ecf54c028",
      "name": "video-genrate end point",
      "webhookId": "69fc3a5d-5197-40da-9383-62be1dd0e647"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "received-video",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -864,
        176
      ],
      "id": "f3883d94-0203-467b-9c6d-b620fa64ffb8",
      "name": "received-video",
      "webhookId": "bfea0cc0-71cf-4e44-afb8-84b71a080c05"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "meta-redis",
        "key": "meta_cookies_b64",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -416,
        -48
      ],
      "id": "e8b9723f-3790-47d3-9de2-6e9e67259439",
      "name": "get cookeis",
      "credentials": {
        "redis": {
          "id": "ZLb9VYz3X464Zgs0",
          "name": "2"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "meta_cookies_b64",
        "value": "={{ $json.cookies_b64 }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -336,
        -400
      ],
      "id": "4cc6664b-8d05-4a9d-86e4-56ff55e97a12",
      "name": "set cookies",
      "credentials": {
        "redis": {
          "id": "ZLb9VYz3X464Zgs0",
          "name": "upstash Details"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.body.job_id }}",
        "value": "=\"{{ $json.body.video_urls }}\""
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -416,
        176
      ],
      "id": "c8dfef1a-e074-44d7-ba1a-b644a703cbc5",
      "name": "creat the jop id",
      "credentials": {
        "redis": {
          "id": "ZLb9VYz3X464Zgs0",
          "name": "2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/expher510/meta-ai-automation/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"generate_video\",\n  \"client_payload\": {\n    \"prompt\": \"genrate video apout [{{ $('video-genrate end point').item.json.body.prompt }}]\",\n    \"webhook_url\": \"https://alisaadeng-n8n.hf.space/webhook/received-video\",\n    \"job_id\": \"{{ $('Generate Job ID').item.json.job_id }}\",\n    \"cookies_b64\": \"{{ $json.cookies_b64 }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -192,
        -48
      ],
      "id": "d720738c-bf35-4286-8405-fcd7e0374393",
      "name": "run git hup action",
      "credentials": {
        "httpBearerAuth": {
          "id": "OYmAUb30hIUYAB9s",
          "name": "yout git hup her"
        }
      }
    }
  ],
  "pinData": {
    "received-video": [
      {
        "json": {
          "headers": {
            "x-forwarded-for": "52.173.181.20",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "host": "alisaadeng-n8n.hf.space",
            "x-amzn-trace-id": "Root=1-69e71527-30e57f423d42f30028bbfdb2",
            "content-length": "1797",
            "user-agent": "python-requests/2.31.0",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "content-type": "application/json",
            "x-request-id": "KoM61h, KoM61h",
            "x-ip-token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpcCI6IjUyLjE3My4xODEuMjAiLCJ1c2VyIjpudWxsLCJ1dWlkIjpudWxsLCJlcnJvciI6bnVsbCwiZXhwIjoxNzc2NzUxOTcxfQ.TSH_a16O6mROhAeU2llE_0lPCRfHYSh-lBi0GLQ2OJM",
            "x-direct-url": "https://alisaadeng-n8n.hf.space/--replicas/xswfg/webhook/received-video"
          },
          "params": {},
          "query": {},
          "body": {
            "job_id": "1",
            "success": true,
            "prompt": "create video apout a magical forest with glowing trees",
            "video_urls": [
              "https://scontent-ord5-3.xx.fbcdn.net/o1/v/t6/f2/m477/AQPttxE43np48VetXAwxLVUs-pVkC1I8mP_0u62-YxlErgBUWIFcE3hkmlNOkoiGzFgLVrpwufj0uUiTVf4DmIYccrcTLU1uBzxO4tbe8d_4-bTG2TZ56LGktHdLRw_t.mp4?_nc_cat=109&_nc_sid=95e8d1&_nc_ht=scontent-ord5-3.xx.fbcdn.net&_nc_ohc=JWWN_BZmlsUQ7kNvwG3LtUC&ccb=17-1&_nc_gid=ACPs9ztCTfn6c5OErQ2xRw&_nc_ss=7a389&_nc_zt=28&oh=00_Af2XyFLk-ZA-hLWX-syMRYGdSzpZODDXyt61LN9pTtrHZA&oe=6A0E7894",
              "https://scontent-ord5-2.xx.fbcdn.net/o1/v/t6/f2/m252/AQOUC_IMtmgA5h6oGS2rRRRZIpVd5UZPiXuSSIzc2r6deB0d8Mtf0_4CJ5ebAeVUFNQTf6SnUjUlj9ddaI_J2yliJ1Wt5PDpzdOiwSgJSIJ-NFecCmIjCvLdqSU7VrsF.mp4?_nc_cat=110&_nc_sid=95e8d1&_nc_ht=scontent-ord5-2.xx.fbcdn.net&_nc_ohc=auGxzEr9GdAQ7kNvwH7S7tf&ccb=17-1&_nc_gid=ACPs9ztCTfn6c5OErQ2xRw&_nc_ss=7a389&_nc_zt=28&oh=00_Af2pa92gU6pMS9DGGBHl71gHJZwlDIhV9EFZ4mDGfVBzKA&oe=6A0E8BF9",
              "https://scontent-ord5-1.xx.fbcdn.net/o1/v/t6/f2/m339/AQMgSh_Q5JO9LM7uZXbjcFcZ55Rlbj_U4kj3YcmCVIPmgkvaKuZQztGmpo7H8ZakTwlZHhvX1PVIBxLAhLeqJ_b7z-cV6flnD0iLcrhOH6zh4jv5vHjyLvSIwRZYSv_S.mp4?_nc_cat=108&_nc_sid=95e8d1&_nc_ht=scontent-ord5-1.xx.fbcdn.net&_nc_ohc=0cEJUGiYg5EQ7kNvwEK3L14&ccb=17-1&_nc_gid=ACPs9ztCTfn6c5OErQ2xRw&_nc_ss=7a389&_nc_zt=28&oh=00_Af0FtRWvF5B614sy5dbqqAoTCv11CE9qJyxhaFvZKSnsIQ&oe=6A0E702B",
              "https://scontent-ord5-1.xx.fbcdn.net/o1/v/t6/f2/m477/AQO-YzfCNGXEwhkQSHAFrbXOK4aHQiBugrsOq6ocnUkaikBm0oqcfxW7D_FFGuE7Az6AAB1ucUgmgJgrmDX5xs9yN4-iGNZyqWN4lsKvrmZXhOqENb8naYMjJncb8vP5.mp4?_nc_cat=111&_nc_sid=95e8d1&_nc_ht=scontent-ord5-1.xx.fbcdn.net&_nc_ohc=-M4MKfQQtegQ7kNvwFHhMBv&ccb=17-1&_nc_gid=9-SdrW3nPsMEJGJGhIEeqA&_nc_ss=7a389&_nc_zt=28&oh=00_Af3IRe6XoyjrhUM8A-HwxTbDCsdTGqaOcJhrMsmqGKnS8A&oe=6A0E987A"
            ],
            "video_count": 4,
            "error": null
          },
          "webhookUrl": "https://alisaadeng-n8n.hf.space/webhook/received-video",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Encode Cookies": {
      "main": [
        [
          {
            "node": "set cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Encode Cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "creat the jop id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Job ID": {
      "main": [
        [
          {
            "node": "get cookeis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "video-genrate end point": {
      "main": [
        [
          {
            "node": "Generate Job ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "received-video": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get cookeis": {
      "main": [
        [
          {
            "node": "run git hup action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set cookies": {
      "main": [
        []
      ]
    },
    "run git hup action": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e56f1940-1585-4ae0-92b4-a389a30189e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7882a25036dfb1bd601050f0ac20700cd6d53895d09022f7a0ccea975f5b96d4"
  },
  "id": "7YLG0ANiHC8nTI7G",
  "tags": []
}